![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# <p style="text-align: center;"> 📌 Challenge 1: Accessing the Pet Archives </p>

In this challenge, you are tasked with using computer commands to access the Pet Archives Data that was collected by Bootstrap World. 

Here are some tips and tricks to help you out: 
- Python is very picky about spelling and is sensitive to upper case (capitalization) and lower case, even if you have everything else right!
- Make sure every open bracket `(`, `[`, `[[`, has a closing one, `]]`, `]`, `)`
- And make sure you have fun!

**Rover**: *ruff!* The first thing we should do is tell our notebook that we want to access the group of computer commands that lets us work with data. I think it is called `pandas`..?

![https://publicdomainvectors.org/en/free-clipart/Server-rack-cabinet/83360.html](Images/archives.jpg)

# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

In [1]:
#❗️Run this cell
import interactive as i
from IPython.display import YouTubeVideo
#YouTubeVideo('P6KNkb7xVjk')

In [2]:
#❗️Run this cell
i.challenge1a()

 🐶 Rover:  If we want to use commands in Python, we need to bring in a library called pandas into the notebook using some code.
 ✅ Try to fill in the import command.
import pandas
✨ That was great!

### 📕 Debrief: Functions, Libraries, and Filenames
Now that we have the special commands to access the data, let's use them!<br>
The data file is called `pets_from_bootstrap_world.csv`.<br>
There is a special function in the `pandas` library we can use to view this data file called `read_csv()`. 

We need to write the code to indicate which library the function we want to use comes from: `library.function("file.csv")`

**See how the library is first, then there is a `.`, followed by the function? We then use the function on the file by putting the filename in the brackets.** The file name is surrounded by `"` `"` so that it is read as characters.

In [3]:
#❗️Run this cell
i.challenge1b()

✅ Answer the questions correctly to check your understanding.

 🐶 Rover:  The file we want to use the read_csv() function on is: pets_from_bootstrap_world.csv
✨ Glad we have you around!
 🐶 Rover:  The library we want to use that contains the read_csv() function is: pandas
🤩 Great stuff!
✅ Try writing code to access the Pets Archives from Earth: pandas.read_csv("pets_from_bootstrap_world.csv")
🌟 I wish I were this good!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5
5,Snowcone,cat,female,2,True,4,6.5,5
6,Wade,cat,male,1,False,4,3.2,1
7,Hercules,cat,male,3,False,4,13.4,2
8,Toggle,dog,female,3,True,4,48.0,1
9,Boo-boo,dog,male,11,True,4,123.0,24
10,Fritz,dog,male,4,True,4,92.0,3
11,Maple,dog,female,3,True,4,51.6,4
12,Bo,dog,male,8,True,4,76.1,10
13,Midnight,dog,female,5,False,4,112.0,4
14,Rex,dog,male,1,False,4,28.9,9
15,Gir,dog,male,8,False,4,88.0,5
16,Max,dog,male,3,False,4,52.8,8
17,Nori,dog,female,3,True,4,35.3,1
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
19,Lucky,dog,male,3,True,3,45.4,9
20,Kujo,dog,male,8,False,4,172.0,30
21,Buddy,lizard,male,2,False,4,0.3,3
22,Gila,lizard,female,3,True,4,1.2,4
23,Snuffles,rabbit,female,3,True,4,3.5,8
24,Nibblet,rabbit,male,6,False,4,4.3,2
25,Snuggles,tarantula,female,2,False,8,0.1,1
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3

 🐶 Rover:  Notice there are eight columns for each animal: Name, Species, Gender, Age (years), Fixed, Legs, Weight (lbs), and Time to Adoption (weeks).

### 📕 Debrief: How to Avoid Writing Long Code Over and Over Again

Now that we've learned how to access the data, we need to make a code word for it to make it easier for the computer to recognize it later. In this process, we end up making what's called a variable. 

Think about it this way, depending on what you put on the right side of the `=` sign, the code word's value may vary. The code word is called a variable name when you give it a value that you can use to mean that value in other parts of the notebook. Let's say I ran `a = 2` in a cell, now whenever I type `a` it will mean the same as 2.

In [4]:
#❗️Run this cell
i.challenge1c()

✅ Enter a code word (also known as a variable name):
 🐶 Rover:  It can be any name! var
✅ Now, enter a value for the variable, it can also be any name!
 var = 2
✅ Now, enter your code word again var
2
🎊 You rock!
 🐶 Rover:  Notice how when you entered the variable name, it gave you the value instead? This is handy for saving time by making long pieces of code short!
✅ Now, let's try assigning the dataset as a variable! Write the code to access the Pets Archives from Earth.
pets =  pandas.read_csv("pets_from_bootstrap_world.csv")
😎 Even Rover is impressed!
✅ Now, type pets  to access the data
pets
😎 Correct!
 🐶 Rover:  Notice the 0 in the first row. In Python, we start counting from zero.

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5
5,Snowcone,cat,female,2,True,4,6.5,5
6,Wade,cat,male,1,False,4,3.2,1
7,Hercules,cat,male,3,False,4,13.4,2
8,Toggle,dog,female,3,True,4,48.0,1
9,Boo-boo,dog,male,11,True,4,123.0,24
10,Fritz,dog,male,4,True,4,92.0,3
11,Maple,dog,female,3,True,4,51.6,4
12,Bo,dog,male,8,True,4,76.1,10
13,Midnight,dog,female,5,False,4,112.0,4
14,Rex,dog,male,1,False,4,28.9,9
15,Gir,dog,male,8,False,4,88.0,5
16,Max,dog,male,3,False,4,52.8,8
17,Nori,dog,female,3,True,4,35.3,1
18,Mr. Peanutbutter,dog,male,10,False,4,161.0,6
19,Lucky,dog,male,3,True,3,45.4,9
20,Kujo,dog,male,8,False,4,172.0,30
21,Buddy,lizard,male,2,False,4,0.3,3
22,Gila,lizard,female,3,True,4,1.2,4
23,Snuffles,rabbit,female,3,True,4,3.5,8
24,Nibblet,rabbit,male,6,False,4,4.3,2
25,Snuggles,tarantula,female,2,False,8,0.1,1
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3

## 📚 Challenge Complete!
Wow, great job! You've completed the very first challenge with flying colours.

### <p style="text-align: right;"> ...continue to [Challenge 2!](./challenge-2.ipynb)</p>

# <p style="text-align: center;"> 🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟 </p>

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)